.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 колонки */
  gap: 10px;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.listCard {
  overflow: hidden; /* Сховати частини зображень що виходять за межі */
}

.listCard img {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Зберегти пропорції зображення */
}
